body
{
 background:url("https://media.istockphoto.com/id/1397031189/photo/pink-sky-with-clouds-at-beautiful-sunset-as-natural-background.jpg?s=612x612&w=is&k=20&c=zyNorNABra_6X-inv5xG6UrANRY4dXza6UsIabuAvDw=");
 background-repeat:no-repeat;
 background-size:cover;
}